<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviço 1 Detalhado</title>
    <link rel="icon" type="image/png" href="../../../assets/images/icon.png">
    <link rel="stylesheet" href="../services-styles/detalheServico1-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Ysabeau:ital,wght@1,1&display=swap" rel="stylesheet">
  </head>
  <body>
    <header id="inicio" class="headerPrincipal">
      <div class="containerLogo">
        <ul class="lista1">
          <li><a class="anchorLogo" href="../../home/index.html"><img class="logo" src="../../../assets/images/logo.png" alt="logo"></a></li>
        </ul>
        <ul class="lista2">
          <li><a class="anchorLogo" href=""><h1 class="bemvindo1">DETALHES</h1></a></li>
          <li><a class="anchorLogo" href="../../home/index.html"><h1 class="bemvindo2">FOLIAGE HAVEN</h1></a></li>
        </ul>
    </div>
    <hr class="divisao1">
    </header>
    <main> <!-- G1S1 -->
      <div class="containerGeral1">
        <div class="containerServico1">
          <article class="servico1">
            <header class="headerServico1">
              <h2 class="h2Servico1">MANUTENÇÃO DE JARDINS</h2>
            </header>
            <img class="imgServico1" src="../../../assets/images/servico1.jpg" alt="Imagem do serviço 1">
            <p class="paragrafoServico1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A manutenção de jardins é um processo complexo que envolve diversas atividades, como adubação, irrigação e poda. Cada uma dessas atividades é fundamental para garantir a saúde e beleza do jardim. A seguir, veja mais informações sobre cada um desses tópicos:</p>
            <ul class="listaServico1">
              <li class="item1"><strong>Adubação: </strong>A adubação é um processo que visa fornecer nutrientes para as plantas, mantendo-as saudáveis e estimulando o seu crescimento. Existem diferentes tipos de adubo, como os orgânicos e os químicos, e cada um deles é indicado para diferentes tipos de plantas e solos. A adubação deve ser feita de forma regular, seguindo as instruções do fabricante, para evitar excessos que possam prejudicar as plantas.</li>
              <li class="item2"><strong>Irrigação: </strong>A irrigação é um processo que visa fornecer água para as plantas, mantendo-as hidratadas e saudáveis. A quantidade de água necessária varia de acordo com as espécies de plantas e as condições climáticas. A irrigação deve ser feita de forma regular, evitando excessos que possam prejudicar as plantas ou causar desperdício de água. Existem diferentes tipos de sistemas de irrigação, como os manuais e os automáticos, e cada um deles é indicado para diferentes tipos de jardins e plantas.</li>
              <li class="item3"><strong>Poda: </strong>A poda é um processo que visa controlar o crescimento das plantas, estimular a produção de flores e frutos, e garantir a sua segurança. A poda deve ser feita de forma regular, seguindo as instruções de um profissional, para evitar danos às plantas. Existem diferentes tipos de poda, como a poda de formação, a poda de limpeza e a poda de renovação, e cada uma delas é indicada para diferentes tipos de plantas e objetivos.</li>
            </ul>
            <p class="paragrafo2Servico1">&nbsp;&nbsp;&nbsp;A manutenção de jardins é um processo fundamental para garantir a beleza e saúde do seu espaço verde. Através de atividades como adubação, irrigação e poda, é possível manter as plantas saudáveis, controlar o seu crescimento e prevenir a proliferação de pragas e doenças. Não deixe de contratar nossos profissionais especializados para garantir a manutenção adequada do seu jardim.</p>
            <p class="detalheServico1"><a class="linkServico1">Adiquira já esse serviço!</a></p>
            <p class="naoDisponivel"><i>Este serviço não está disponível no momento, volte mais tarde! 😉</i></p>
          </article>
        </div>
      </div>
      <hr class="divisao2">
      <div class="containerFooter">
        <footer class="footerPrincipal">
          <ul class="listaLink">
            <li class="footerInicio"><a class="linkInicio" href="../../home/index.html">Home</a></li>
            <li class="footerServicos"><a class="linkServicos" href="../../pages/servicos.html">Serviços</a></li>
            <li class="footerFAQs"><a class="linkFAQs" href="../../pages/FAQs.html">FAQs</a></li>
            <li class="footerSobre"><a class="linkSobre" href="../../home/index.html#sobre">Sobre</a></li>
          </ul>
          <div class="containerEmpresa">
            <hr class="divisaoFooter">
              <p class="copyright">&copy; 2023 Foliage Haven, Inc. Todos os direitos resevados.</p>
              <ul class="luSocial">
                <li class="liTwitter"><a class="linkTwitter" target="_blank" href="https://twitter.com/"><img class="imgTwitter" src="../../../assets/images/twitter.png" alt="Twitter"></a></li>
                <li class="liInstagram"><a class="linkInstagram" target="_blank" href="https://www.instagram.com/"><img class="imgInstagram" src="../../../assets/images/instagram.png" alt="Instagram"></a></li>
                <li class="liFacebook"><a class="linkFacebook" target="_blank" href="https://www.facebook.com/"><img class="imgFacebook" src="../../../assets/images/facebook.png" alt="Facebook"></a></li>
              </ul>
          </div>
        </footer>
      </div>
    </body>
  </body>
</html>