<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviço 6 Detalhado</title>
    <link rel="icon" type="image/png" href="../../../assets/images/icon.png">
    <link rel="stylesheet" href="../services-styles/detalheServico1-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Ysabeau:ital,wght@1,1&display=swap" rel="stylesheet">
  </head>
  <body>
    <header id="inicio" class="headerPrincipal">
      <div class="containerLogo">
        <ul class="lista1">
          <li><a class="anchorLogo" href="../../home/index.html"><img class="logo" src="../../../assets/images/logo.png" alt="logo"></a></li>
        </ul>
        <ul class="lista2">
          <li><a class="anchorLogo" href=""><h1 class="bemvindo1">DETALHES</h1></a></li>
          <li><a class="anchorLogo" href="../../home/index.html"><h1 class="bemvindo2">FOLIAGE HAVEN</h1></a></li>
        </ul>
    </div>
    <hr class="divisao1">
    </header>
    <main> <!-- G2S3 -->
      <div class="containerGeral1">
        <div class="containerServico1">
          <article class="servico1">
            <header class="headerServico1">
              <h2 class="h2Servico1">SISTEMAS DE DRENAGEM</h2>
            </header>
            <img class="imgServico1" src="../../../assets/images/servico6.jpg" alt="Imagem do serviço 1">
            <p class="paragrafoServico1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A instalação de sistemas de drenagem é um importante serviço oferecido por empresas de jardinagem profissional. É um processo que envolve diferentes etapas e pode ser dividido em três principais tópicos:</p>
            <ul class="listaServico1">
              <li class="item1"><strong>Análise do terreno e do clima local: </strong>Antes de iniciar a instalação do sistema de drenagem, é importante que seja feita uma análise detalhada das características do terreno e do clima local. Essa análise permite que os profissionais identifiquem as áreas que apresentam maior risco de erosão, encharcamento ou danos às construções, e planejem a instalação de acordo com as necessidades específicas de cada ambiente.</li>
              <li class="item2"><strong>Escolha dos equipamentos adequados: </strong>Existem diferentes tipos de sistemas de drenagem disponíveis no mercado, cada um com suas vantagens e desvantagens. Os profissionais da empresa de jardinagem devem escolher os equipamentos adequados de acordo com as características do terreno e as necessidades do cliente. Entre os equipamentos utilizados estão os tubos perfurados, os canais de drenagem, as caixas de inspeção e as bombas de drenagem.</li>
              <li class="item3"><strong>Instalação e manutenção do sistema: </strong>Após a escolha dos equipamentos adequados, é necessário realizar a instalação do sistema de drenagem. Esse processo deve ser feito por profissionais especializados, que vão garantir a correta instalação dos equipamentos e a eficiência do sistema. Além disso, é importante realizar a manutenção periódica do sistema para garantir a sua durabilidade e eficiência ao longo do tempo.</li>
            </ul>
            <p class="paragrafo2Servico1">&nbsp;&nbsp;&nbsp;A instalação de sistemas de drenagem é um serviço essencial para garantir a saúde do seu jardim e a segurança das construções. Ao contratar uma empresa de jardinagem profissional, você pode ter a certeza de que o trabalho será realizado de forma adequada e segura, garantindo a qualidade e a durabilidade do sistema de drenagem.</p>
            <p class="detalheServico1"><a class="linkServico1">Adiquira já esse serviço!</a></p>
            <p class="naoDisponivel"><i>Este serviço não está disponível no momento, volte mais tarde! 😉</i></p>
          </article>
        </div>
      </div>
      <hr class="divisao2">
      <div class="containerFooter">
        <footer class="footerPrincipal">
          <ul class="listaLink">
            <li class="footerInicio"><a class="linkInicio" href="../../home/index.html">Home</a></li>
            <li class="footerServicos"><a class="linkServicos" href="../../pages/servicos.html">Serviços</a></li>
            <li class="footerFAQs"><a class="linkFAQs" href="../../pages/FAQs.html">FAQs</a></li>
            <li class="footerSobre"><a class="linkSobre" href="../../home/index.html#sobre">Sobre</a></li>
          </ul>
          <div class="containerEmpresa">
            <hr class="divisaoFooter">
              <p class="copyright">&copy; 2023 Foliage Haven, Inc. Todos os direitos resevados.</p>
              <ul class="luSocial">
                <li class="liTwitter"><a class="linkTwitter" target="_blank" href="https://twitter.com/"><img class="imgTwitter" src="../../../assets/images/twitter.png" alt="Twitter"></a></li>
                <li class="liInstagram"><a class="linkInstagram" target="_blank" href="https://www.instagram.com/"><img class="imgInstagram" src="../../../assets/images/instagram.png" alt="Instagram"></a></li>
                <li class="liFacebook"><a class="linkFacebook" target="_blank" href="https://www.facebook.com/"><img class="imgFacebook" src="../../../assets/images/facebook.png" alt="Facebook"></a></li>
              </ul>
          </div>
        </footer>
      </div>
    </body>
  </body>
</html>