<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviço 2 Detalhado</title>
    <link rel="icon" type="image/png" href="../../../assets/images/icon.png">
    <link rel="stylesheet" href="../services-styles/detalheServico1-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Ysabeau:ital,wght@1,1&display=swap" rel="stylesheet">
  </head>
  <body>
    <header id="inicio" class="headerPrincipal">
      <div class="containerLogo">
        <ul class="lista1">
          <li><a class="anchorLogo" href="../../home/index.html"><img class="logo" src="../../../assets/images/logo.png" alt="logo"></a></li>
        </ul>
        <ul class="lista2">
          <li><a class="anchorLogo" href=""><h1 class="bemvindo1">DETALHES</h1></a></li>
          <li><a class="anchorLogo" href="../../home/index.html"><h1 class="bemvindo2">FOLIAGE HAVEN</h1></a></li>
        </ul>
    </div>
    <hr class="divisao1">
    </header>
    <main> <!-- G1S2 -->
      <div class="containerGeral1">
        <div class="containerServico1">
          <article class="servico1">
            <header class="headerServico1">
              <h2 class="h2Servico1">SERVIÇOS DE PAISAGISMO</h2>
            </header>
            <img class="imgServico1" src="../../../assets/images/servico2.jpg" alt="Imagem do serviço 1">
            <p class="paragrafoServico1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Os serviços de paisagismo são compostos por diversas atividades que visam criar e manter espaços verdes agradáveis e funcionais. A seguir, veja mais informações sobre três tópicos importantes para entender os serviços de paisagismo:</p>
            <ul class="listaServico1">
              <li class="item1"><strong>Projeto paisagístico: </strong>O projeto paisagístico é a etapa inicial dos serviços de paisagismo, onde é definido o conceito do espaço verde e a distribuição das plantas e elementos paisagísticos. O projeto deve levar em consideração o uso do espaço, a relação com o entorno e a preferência do cliente. O paisagista é o profissional responsável por criar o projeto, utilizando seus conhecimentos em botânica, estética e funcionalidade.</li>
              <li class="item2"><strong>Implantação: </strong>A implantação é a etapa onde o projeto é executado, ou seja, as plantas e elementos paisagísticos são instalados no local. Nessa etapa, é importante seguir as instruções do projeto e utilizar materiais de qualidade, para garantir a durabilidade e beleza do espaço verde. A implantação pode envolver atividades como preparação do solo, plantio de mudas, instalação de sistemas de irrigação e iluminação, entre outros.</li>
              <li class="item3"><strong>Manutenção: </strong>A manutenção é uma etapa fundamental dos serviços de paisagismo, pois garante a longevidade e beleza do espaço verde. A manutenção envolve atividades como adubação, irrigação, poda, controle de pragas e doenças, entre outras. A manutenção deve ser realizada de forma regular, seguindo as recomendações do paisagista, para garantir que as plantas e elementos paisagísticos estejam sempre saudáveis e bonitos.</li>
            </ul>
            <p class="paragrafo2Servico1">&nbsp;&nbsp;&nbsp;Os serviços de paisagismo envolvem diversas atividades que visam criar e manter espaços verdes agradáveis e funcionais. Desde o projeto até a manutenção, é importante contar com profissionais especializados para garantir o sucesso do projeto e a satisfação do cliente.</p>
            <p class="detalheServico1"><a class="linkServico1">Adiquira já esse serviço!</a></p>
            <p class="naoDisponivel"><i>Este serviço não está disponível no momento, volte mais tarde! 😉</i></p>
          </article>
        </div>
      </div>
      <hr class="divisao2">
      <div class="containerFooter">
        <footer class="footerPrincipal">
          <ul class="listaLink">
            <li class="footerInicio"><a class="linkInicio" href="../../home/index.html">Home</a></li>
            <li class="footerServicos"><a class="linkServicos" href="../../pages/servicos.html">Serviços</a></li>
            <li class="footerFAQs"><a class="linkFAQs" href="../../pages/FAQs.html">FAQs</a></li>
            <li class="footerSobre"><a class="linkSobre" href="../../home/index.html#sobre">Sobre</a></li>
          </ul>
          <div class="containerEmpresa">
            <hr class="divisaoFooter">
              <p class="copyright">&copy; 2023 Foliage Haven, Inc. Todos os direitos resevados.</p>
              <ul class="luSocial">
                <li class="liTwitter"><a class="linkTwitter" target="_blank" href="https://twitter.com/"><img class="imgTwitter" src="../../../assets/images/twitter.png" alt="Twitter"></a></li>
                <li class="liInstagram"><a class="linkInstagram" target="_blank" href="https://www.instagram.com/"><img class="imgInstagram" src="../../../assets/images/instagram.png" alt="Instagram"></a></li>
                <li class="liFacebook"><a class="linkFacebook" target="_blank" href="https://www.facebook.com/"><img class="imgFacebook" src="../../../assets/images/facebook.png" alt="Facebook"></a></li>
              </ul>
          </div>
        </footer>
      </div>
    </body>
  </body>
</html>