<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes FH</title>
    <link rel="icon" type="image/png" href="../../assets/images/icon.png">
    <link rel="stylesheet" href="../styles/clientes-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Ysabeau:ital,wght@1,1&display=swap" rel="stylesheet">
  </head>
  <body>
    <header id="inicio" class="headerPrincipal">
      <div class="containerLogo">
        <ul class="lista1">
          <li><a class="anchorLogo" href="../home/index.html"><img class="logo" src="../../assets/images/logo.png" alt="logo"></a></li>
        </ul>
        <ul class="lista2">
          <li><a class="anchorLogo" href=""><h1 class="bemvindo1">CLIENTES</h1></a></li>
          <li><a class="anchorLogo" href=""><h1 class="bemvindo2">FOLIAGE HAVEN</h1></a></li>
      </div>
      <hr class="divisao1">
    </header>
    <main>
      <div class="containerGeral1"><!-- Cliente1 -->
        <div class="containerCliente1">
          <article class="cliente1">
            <header class="headerCliente1">
              <h2 class="h2Cliente1">Körber Brasil</h2>
            </header>
            <img class="imgCliente1" src="../../assets/images/cliente1.png" alt="Imagem do cliente 1">
            <p class="paragrafoCliente1">&nbsp;&nbsp;&nbsp;&nbsp;A Körber Brasil é uma empresa que valoriza o bem-estar dos seus colaboradores e o cuidado com o ambiente em que trabalham. Por isso, contratou uma empresa de jardinagem profissional para cuidar de seus jardins e áreas verdes. Os serviços prestados incluem manutenção periódica dos jardins, poda de árvores e arbustos, adubação, controle de pragas e doenças, além da instalação de sistemas de irrigação e drenagem.</p>
          </article>
        </div>
          
        <div class="containerCliente2"><!-- Cliente2 -->
          <article class="cliente2">
            <header class="headerCliente2">
              <h2 class="h2Cliente2">Parque Hansen</h2>
            </header>
            <img class="imgCliente2" src="../../assets/images/cliente2.png" alt="Imagem do cliente 2">
            <p class="paragrafoCliente2">&nbsp;&nbsp;&nbsp;O Parque Hansen é um espaço público muito querido pelos moradores da cidade, que buscam um local para praticar atividades físicas, passear com a família, se divertir com os amigos ou simplesmente relaxar em meio à natureza. Para manter o parque em perfeitas condições, a prefeitura contratou a nossa empresa de jardinagem profissional para cuidar da manutenção e paisagismo do local.</p>
          </article>
        </div>
      </div>
      <!--  -->
      <div class="containerGeral2"><!-- Cliente3 -->
        <div class="containerCliente3">
          <article class="cliente3">
            <header class="headerCliente3">
              <h2 class="h2Cliente3">Recreativa Embraco</h2>
            </header>
            <img class="imgCliente3" src="../../assets/images/cliente3.png" alt="Imagem do cliente 3">
            <p class="paragrafoCliente3">&nbsp;&nbsp;&nbsp;A Recreativa Embraco oferece diversas opções de lazer e entretenimento para seus associados e seus familiares. A empresa de jardinagem Foliage Haven prestou serviços de paisagismo e manutenção para a Recreativa Embraco, a fim de proporcionar um ambiente agradável e seguro para os frequentadores. A nossa equipe utilizou plantas e árvores ornamentais, que foram escolhidas de acordo com as características do local e com as preferências dos clientes.</p>
          </article>
        </div>
          
        <div class="containerCliente4"><!-- Cliente4 -->
          <article class="cliente4">
            <header class="headerCliente4">
              <h2 class="h2Cliente4">TOTVS</h2>
            </header>
            <img class="imgCliente4" src="../../assets/images/cliente4.png" alt="Imagem do cliente 4">
            <p class="paragrafoCliente4">&nbsp;&nbsp;&nbsp;A TOTVS é uma empresa líder em soluções de tecnologia para negócios, e reconhece a importância de manter um ambiente de trabalho agradável e acolhedor para seus colaboradores. Para isso, a empresa contratou uma equipe de jardinagem profissional para cuidar do paisagismo e da manutenção dos jardins em sua sede.</p>
          </article>
        </div>
      </div>
      <hr class="divisao2">
      <div class="containerFooter">
        <footer class="footerPrincipal">
          <ul class="listaLink">
            <li class="footerInicio"><a class="linkInicio" href="../home/index.html">Home</a></li>
            <li class="footerServicos"><a class="linkServicos" href="../pages/servicos.html">Serviços</a></li>
            <li class="footerFAQs"><a class="linkFAQs" href="../pages/FAQs.html">FAQs</a></li>
            <li class="footerSobre"><a class="linkSobre" href="../home/index.html#sobre">Sobre</a></li>
          </ul>
          <div class="containerEmpresa">
            <hr class="divisaoFooter">
              <p class="copyright">&copy; 2023 Foliage Haven, Inc. Todos os direitos resevados.</p>
              <ul class="luSocial">
                <li class="liTwitter"><a class="linkTwitter" target="_blank" href="https://twitter.com/"><img class="imgTwitter" src="../../assets/images/twitter.png" alt="Twitter"></a></li>
                <li class="liInstagram"><a class="linkInstagram" target="_blank" href="https://www.instagram.com/"><img class="imgInstagram" src="../../assets/images/instagram.png" alt="Instagram"></a></li>
                <li class="liFacebook"><a class="linkFacebook" target="_blank" href="https://www.facebook.com/"><img class="imgFacebook" src="../../assets/images/facebook.png" alt="Facebook"></a></li>
              </ul>
          </div>
        </footer>
      </div>
    </main>
  </body>
</html>