<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços FH</title>
    <link rel="icon" type="image/png" href="../../assets/images/icon.png">
    <link rel="stylesheet" href="../styles/servicos-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Ysabeau:ital,wght@1,1&display=swap" rel="stylesheet">
  </head>
  <body>
    <header id="inicio" class="headerPrincipal">
      <div class="containerLogo">
        <ul class="lista1">
          <li><a class="anchorLogo" href="../home/index.html"><img class="logo" src="../../assets/images/logo.png" alt="logo"></a></li>
        </ul>
        <ul class="lista2">
          <li><a class="anchorLogo" href=""><h1 class="bemvindo1">SERVIÇOS</h1></a></li>
          <li><a class="anchorLogo" href=""><h1 class="bemvindo2">FOLIAGE HAVEN</h1></a></li>
        </ul>
    </div>
    <hr class="divisao1">
    </header>
    <main> <!-- G1S1 -->
      <div class="containerGeral1">
        <div class="containerServico1">
          <article class="servico1">
            <header class="headerServico1">
              <h2 class="h2Servico1">Manutenção de jardins</h2>
            </header>
            <img class="imgServico1" src="../../assets/images/servico1.jpg" alt="Imagem do serviço 1">
            <p class="paragrafoServico1">&nbsp;&nbsp;&nbsp;A manutenção de jardins é um processo contínuo e necessário para garantir a saúde e beleza do seu espaço verde. Através da manutenção adequada, é possível controlar o crescimento das plantas, prevenir a proliferação de pragas e doenças, e manter o jardim sempre limpo e organizado. </p>
            <ul class="listaServico1">
              <li class="item1">Adubação</li>
              <li class="item2">Irrigação</li>
              <li class="item3">Podação</li>
            </ul>
            <p class="detalheServico1"><a class="linkServico1" href="./services/detalheServico1.html">Clique aqui para mais detalhes!</a></p>
          </article>
        </div>
  <!-- G1S2 -->
        <div class="containerServico2">
          <article class="servico2">
            <header class="headerServico2">
              <h2 class="h2Servico2">Serviços de Paisagismo</h2>
            </header>
            <img class="imgServico2" src="../../assets/images/servico2.jpg" alt="Imagem do serviço 2">
            <p class="paragrafoServico2">&nbsp;&nbsp;&nbsp;Os serviços de paisagismo envolvem a criação e manutenção de espaços verdes, como jardins, praças e parques. Através do paisagismo, é possível transformar áreas urbanas em ambientes mais agradáveis, melhorando a qualidade de vida das pessoas que vivem ou trabalham nesses locais. </p>
            <ul class="listaServico2">
              <li class="item1">Projeto paisagístico</li>
              <li class="item2">Implantação</li>
              <li class="item3">Manutenção</li>
            </ul>
            <p class="detalheServico2"><a class="linkServico2" href="./services/detalheServico2.html">Clique aqui para mais detalhes!</a></p>
          </article>
        </div>
  <!-- G1S3 -->
        <div class="containerServico3">
          <article class="servico3">
            <header class="headerServico3">
              <h2 class="h2Servico3">Instalação de iluminação</h2>
            </header>
            <img class="imgServico3" src="../../assets/images/servico3.jpg" alt="Imagem do serviço 3">
            <p class="paragrafoServico3">&nbsp;&nbsp;&nbsp;A instalação de iluminação é um serviço que visa criar um ambiente mais aconchegante e funcional. Além de proporcionar maior conforto visual, a iluminação adequada pode destacar elementos decorativos e de paisagismo, criando um efeito estético interessante. A instalação de iluminação deve ser realizada por profissionais especializados, assim garantindo a segurança.</p>
            <ul class="listaServico3">
              <li class="item1">Projeto luminotécnico</li>
              <li class="item2">Instalação elétrica</li>
              <li class="item3">Escolha dos equipamentos</li>
            </ul>
            <p class="detalheServico3"><a class="linkServico3" href="./services/detalheServico3.html">Clique aqui para mais detalhes!</a></p>
          </article>
        </div>
      </div>
  <!-- G2S1 -->
      <div class="containerGeral2">
        <div class="containerServico1">
          <article class="servico1">
            <header class="headerServico1">
              <h2 class="h2Servico1">Áreas de lazer</h2>
            </header>
            <img class="imgServico1" src="../../assets/images/servico4.jpg" alt="Imagem do serviço 1">
            <p class="paragrafoServico1">&nbsp;&nbsp;&nbsp;A criação de áreas de lazer é um serviço oferecido por empresas de jardinagem profissional que visa transformar espaços externos em ambientes aconchegantes e propícios para momentos de relaxamento e convívio social. </p>
            <ul class="listaServico1">
              <li class="item1">Projetos personalizados</li>
              <li class="item2">Escolha de elementos decorativos</li>
              <li class="item3">Criação de pontos de destaque</li>
            </ul>
            <p class="detalheServico1"><a class="linkServico1" href="./services/detalheServico4.html">Clique aqui para mais detalhes!</a></p>
          </article>
        </div>
  <!-- G2S2 -->
        <div class="containerServico2">
          <article class="servico2">
            <header class="headerServico2">
              <h2 class="h2Servico2">Corte de grama</h2>
            </header>
            <img class="imgServico2" src="../../assets/images/servico5.jpg" alt="Imagem do serviço 2">
            <p class="paragrafoServico2">&nbsp;&nbsp;&nbsp;O corte de grama é uma atividade importante para manter a beleza e a saúde do seu jardim. Além de proporcionar um aspecto visual agradável, o corte regular também contribui para o controle de pragas e doenças, favorece a absorção de água e nutrientes pelas raízes das plantas e previne o acúmulo de detritos.</p>
            <ul class="listaServico2">
              <li class="item1">Frequência do corte de grama</li>
              <li class="item2">Equipamentos utilizados</li>
              <li class="item3">Descarte dos resíduos</li>
            </ul>
            <p class="detalheServico2"><a class="linkServico2" href="./services/detalheServico5.html">Clique aqui para mais detalhes!</a></p>
          </article>
        </div>
  <!-- G2S3 -->
        <div class="containerServico3">
          <article class="servico3">
            <header class="headerServico3">
              <h2 class="h2Servico3">Sistemas de drenagem</h2>
            </header>
            <img class="imgServico3" src="../../assets/images/servico6.jpg" alt="Imagem do serviço 3">
            <p class="paragrafoServico3">&nbsp;&nbsp;&nbsp;A instalação de sistemas de drenagem é essencial para garantir que a água da chuva e da irrigação seja corretamente direcionada e evite problemas como erosão, encharcamento e danos à estrutura das construções. </p>
            <ul class="listaServico3">
              <li class="item1">Análise do terreno e do clima local</li>
              <li class="item2">Escolha dos equipamentos adequados</li>
              <li class="item3">Instalação e manutenção do sistema</li>
            </ul>
            <p class="detalheServico3"><a class="linkServico3" href="./services/detalheServico6.html">Clique aqui para mais detalhes!</a></p>
          </article>
        </div>
      </div>
      <hr class="divisao2">
      <div class="containerFooter">
        <footer class="footerPrincipal">
          <ul class="listaLink">
            <li class="footerInicio"><a class="linkInicio" href="../home/index.html">Home</a></li>
            <li class="footerServicos"><a class="linkServicos" href="#inicio">Serviços</a></li>
            <li class="footerFAQs"><a class="linkFAQs" href="../pages/FAQs.html">FAQs</a></li>
            <li class="footerSobre"><a class="linkSobre" href="../home/index.html#sobre">Sobre</a></li>
          </ul>
          <div class="containerEmpresa">
            <hr class="divisaoFooter">
              <p class="copyright">&copy; 2023 Foliage Haven, Inc. Todos os direitos resevados.</p>
              <ul class="luSocial">
                <li class="liTwitter"><a class="linkTwitter" target="_blank" href="https://twitter.com/"><img class="imgTwitter" src="../../assets/images/twitter.png" alt="Twitter"></a></li>
                <li class="liInstagram"><a class="linkInstagram" target="_blank" href="https://www.instagram.com/"><img class="imgInstagram" src="../../assets/images/instagram.png" alt="Instagram"></a></li>
                <li class="liFacebook"><a class="linkFacebook" target="_blank" href="https://www.facebook.com/"><img class="imgFacebook" src="../../assets/images/facebook.png" alt="Facebook"></a></li>
              </ul>
          </div>
        </footer>
      </div>
    </main>
  </body>
</html>