<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços FH</title>
    <link rel="icon" type="image/png" href="../../assets/images/icon.png">
    <link rel="stylesheet" href="../styles/servicos-style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Ysabeau:ital,wght@1,1&display=swap" rel="stylesheet">
  </head>
<body>
  <header id="inicio" class="headerPrincipal">
    <div class="containerLogo">
      <ul class="lista1">
        <li><a class="anchorLogo" href=""><img class="logo" src="../../assets/images/logo.png" alt="logo"></a></li>
      </ul>
      <ul class="lista2">
        <li><a class="anchorLogo" href=""><h1 class="bemvindo1">SERVIÇOS</h1></a></li>
        <li><a class="anchorLogo" href="../home/index.html"><h1 class="bemvindo2">FOLIAGE HAVEN</h1></a></li>
      </ul>
   </div>
   <hr class="divisao1">
  </header>
  <main>
    <div class="containerGeral1">
      <div class="containerServico1">
        <article class="servico1">
          <header class="headerServico1">
            <h2 class="h2Servico1">Manutenção de jardins</h2>
          </header>
          <img class="imgServico1" src="../../assets/images/servico1.jpg" alt="Imagem do serviço 1">
          <p class="paragrafoServico1">&nbsp;&nbsp;&nbsp;Cuidado diário com as plantas, incluindo poda, adubação, irrigação, controle de pragas e doenças, limpeza e outras atividades que garantem a saúde e beleza do jardim.</p>
          <ul class="listaServico1">
            <li class="item1">Adubação</li>
            <li class="item2">Irrigação</li>
            <li class="item3">Podação</li>
          </ul>
          <p class="detalheServico1"><a class="linkServico1" href="./services/detalheServico1.html">Clique aqui para mais detalhes!</a></p>
        </article>
      </div>

      <div class="containerServico2">
        <article class="servico2">
          <header class="headerServico2">
            <h2 class="h2Servico2">Manutenção de jardins</h2>
          </header>
          <img class="imgServico2" src="../../assets/images/servico1.jpg" alt="Imagem do serviço 2">
          <p class="paragrafoServico2">&nbsp;&nbsp;&nbsp;Cuidado diário com as plantas, incluindo poda, adubação, irrigação, controle de pragas e doenças, limpeza e outras atividades que garantem a saúde e beleza do jardim.</p>
          <ul class="listaServico2">
            <li class="item1">Adubação</li>
            <li class="item2">Irrigação</li>
            <li class="item3">Podação</li>
          </ul>
          <p class="detalheServico2"><a class="linkServico2" href="./services/detalheServico2.html">Clique aqui para mais detalhes!</a></p>
        </article>
      </div>

      <div class="containerServico3">
        <article class="servico3">
          <header class="headerServico3">
            <h2 class="h2Servico3">Manutenção de jardins</h2>
          </header>
          <img class="imgServico3" src="../../assets/images/servico1.jpg" alt="Imagem do serviço 3">
          <p class="paragrafoServico3">&nbsp;&nbsp;&nbsp;Cuidado diário com as plantas, incluindo poda, adubação, irrigação, controle de pragas e doenças, limpeza e outras atividades que garantem a saúde e beleza do jardim.</p>
          <ul class="listaServico3">
            <li class="item1">Adubação</li>
            <li class="item2">Irrigação</li>
            <li class="item3">Podação</li>
          </ul>
          <p class="detalheServico3"><a class="linkServico3" href="./services/detalheServico3.html">Clique aqui para mais detalhes!</a></p>
        </article>
      </div>
    </div>

    <div class="containerGeral2">
      <div class="containerServico1">
        <article class="servico1">
          <header class="headerServico1">
            <h2 class="h2Servico1">Manutenção de jardins</h2>
          </header>
          <img class="imgServico1" src="../../assets/images/servico1.jpg" alt="Imagem do serviço 1">
          <p class="paragrafoServico1">&nbsp;&nbsp;&nbsp;Cuidado diário com as plantas, incluindo poda, adubação, irrigação, controle de pragas e doenças, limpeza e outras atividades que garantem a saúde e beleza do jardim.</p>
          <ul class="listaServico1">
            <li class="item1">Adubação</li>
            <li class="item2">Irrigação</li>
            <li class="item3">Podação</li>
          </ul>
          <p class="detalheServico1"><a class="linkServico1" href="./services/detalheServico1.html">Clique aqui para mais detalhes!</a></p>
        </article>
      </div>

      <div class="containerServico2">
        <article class="servico2">
          <header class="headerServico2">
            <h2 class="h2Servico2">Manutenção de jardins</h2>
          </header>
          <img class="imgServico2" src="../../assets/images/servico1.jpg" alt="Imagem do serviço 2">
          <p class="paragrafoServico2">&nbsp;&nbsp;&nbsp;Cuidado diário com as plantas, incluindo poda, adubação, irrigação, controle de pragas e doenças, limpeza e outras atividades que garantem a saúde e beleza do jardim.</p>
          <ul class="listaServico2">
            <li class="item1">Adubação</li>
            <li class="item2">Irrigação</li>
            <li class="item3">Podação</li>
          </ul>
          <p class="detalheServico2"><a class="linkServico2" href="./services/detalheServico2.html">Clique aqui para mais detalhes!</a></p>
        </article>
      </div>

      <div class="containerServico3">
        <article class="servico3">
          <header class="headerServico3">
            <h2 class="h2Servico3">Manutenção de jardins</h2>
          </header>
          <img class="imgServico3" src="../../assets/images/servico1.jpg" alt="Imagem do serviço 3">
          <p class="paragrafoServico3">&nbsp;&nbsp;&nbsp;Cuidado diário com as plantas, incluindo poda, adubação, irrigação, controle de pragas e doenças, limpeza e outras atividades que garantem a saúde e beleza do jardim.</p>
          <ul class="listaServico3">
            <li class="item1">Adubação</li>
            <li class="item2">Irrigação</li>
            <li class="item3">Podação</li>
          </ul>
          <p class="detalheServico3"><a class="linkServico3" href="./services/detalheServico3.html">Clique aqui para mais detalhes!</a></p>
        </article>
      </div>
    </div>
    <hr class="divisao2">
    <div class="containerFooter">
      <!-- height: 10rem -->
      <footer class="footerPrincipal">
        <ul class="listaLink">
          <li class="footerInicio"><a class="linkInicio" href="../home/index.html">Home</a></li>
          <li class="footerServicos"><a class="linkServicos" href="#inicio">Serviços</a></li>
          <li class="footerFAQs"><a class="linkFAQs" href="../pages/FAQs.html">FAQs</a></li>
          <li class="footerSobre"><a class="linkSobre" href="../home/index.html#sobre">Sobre</a></li>
        </ul>
        <div class="containerEmpresa">
          <hr class="divisaoFooter">
            <p class="copyright">&copy; 2023 Foliage Haven, Inc. Todos os direitos resevados.</p>
            <ul class="luSocial">
              <!-- redes sociais -->
              <li class="liTwitter"><a class="linkTwitter" href=""><img class="imgTwitter" src="../../assets/images/twitter.png" alt="Twitter"></a></li>
              <li class="liInstagram"><a class="linkInstagram" href=""><img class="imgInstagram" src="../../assets/images/instagram.png" alt="Instagram"></a></li>
              <li class="liFacebook"><a class="linkFacebook" href=""><img class="imgFacebook" src="../../assets/images/facebook.png" alt="Facebook"></a></li>
            </ul>
        </div>
      </footer>
    </div>
  </main>
</body>
</html>