<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao FH</title>
    <link rel="icon" type="image/png" href="../../assets/images/icon.png">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Ysabeau:ital,wght@1,1&display=swap" rel="stylesheet">
    <script type="javascript" src="script.js"></script>
  </head>
  <body>
    <header class="headerPrincipal">
      <div class="containerLogo">
        <ul class="lista1">
          <li><a class="anchorLogo" href="index.html"><img class="logo" src="../../assets/images/logo.png" alt="logo"></a></li>
        </ul>
        <ul class="lista2">
          <li><a class="anchorLogo" href="index.html"><h1 class="bemvindo1">BEM VINDO AO SITE DO</h1></a></li>
          <li><a class="anchorLogo" href="index.html"><h1 class="bemvindo2">FOLIAGE HAVEN</h1></a></li>
        </ul>
     </div>
     <hr class="divisao1">
    </header>
      
    <section class="containerMenu">
      <div><a href="../pages/servicos.html" target="_blank"><img class="gif1" src="../../assets/gifs/servicos.gif" alt="Serviços"></a></div>
      <div><a href="../pages/clientes.html" target="_blank"><img class="gif2" src="../../assets/gifs/clientes.gif" alt="Clientes"></a></div>
      <div><a href="../pages/contatos.html" target="_blank"><img class="gif3" src="../../assets/gifs/contatos.gif" alt="Contatos"></a></div>
      <div><a href=""><img class="gif4" src="../../assets/gifs/sobre.gif" alt="Sobre nós"></a></div>
    </section>
    <hr class="divisao2">
    <main>
      <div class="containerMain">
        <article class="motivacional1">
          <header class="headerMotivacional1">
            <p class="paragrafoMotivacional1"><strong>O seu jardim é um reflexo da sua personalidade e estilo de vida, e merece ser cuidado com profissionalismo e dedicação. Nós, da equipe de jardinagem profissional, não só cultivamos as plantas, mas também criamos um ambiente harmonioso e acolhedor, onde você pode desfrutar de momentos de paz e tranquilidade.</strong></p>
          </header>
        </article>

        <article class="motivacional2">
          <header class="headerMotivacional2">
            <p class="paragrafoMotivacional2"><strong>O jardim é um lembrete constante de que a beleza está em toda parte, basta saber onde procurar. Encontre a beleza na simplicidade das coisas, na natureza ao seu redor, e deixe-a inspirar sua vida. Abra seus olhos e seu coração para a beleza que está à sua volta!</strong></p>            
          </header>
        </article>

        <article class="motivacional3">
          <header class="headerMotivacional3">
            <p class="paragrafoMotivacional3"><strong>O jardim é um lugar de renovação e transformação, onde podemos nos conectar com a natureza e conosco mesmos. Encontre seu próprio jardim interior e permita-se florescer. Descubra a beleza de crescer e mudar!</strong></p>            
          </header>
        </article>

        <article class="motivacional4">
          <header class="headerMotivacional4">
            <p class="paragrafoMotivacional4"><strong>A diversidade é o que torna o jardim tão especial, e é também o que torna cada um de nós tão único e precioso. Celebre suas diferenças e encontre a beleza na diversidade. Lembre-se de que todos somos flores diferentes no mesmo jardim, e juntos formamos um lindo jardim da vida!</strong></p>             
          </header>
       </article>
       <hr class="divisao3">
       <div>
      </div>
    </main>
  </body>
</html>