<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao FH</title>
    <link rel="icon" type="image/png" href="../../assets/images/icon.png">
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Ysabeau:ital,wght@1,1&display=swap" rel="stylesheet">
    <script type="javascript" src="script.js"></script>
  </head>
  <body>
    <header id="inicio" class="headerPrincipal">
      <div class="containerLogo">
        <ul class="lista1">
          <li><a class="anchorLogo" href="index.html"><img class="logo" src="../../assets/images/logo.png" alt="logo"></a></li>
        </ul>
        <ul class="lista2">
          <li><a class="anchorLogo" href="index.html"><h1 class="bemvindo1">BEM VINDO AO SITE DO</h1></a></li>
          <li><a class="anchorLogo" href="index.html"><h1 class="bemvindo2">FOLIAGE HAVEN</h1></a></li>
        </ul>
     </div>
     <hr class="divisao1">
    </header>
      
    <section class="containerMenu">
      <div><a href="../pages/servicos.html"><img class="gif1" src="../../assets/gifs/servicos.gif" alt="Serviços"></a></div>
      <div><a href="../pages/clientes.html"><img class="gif2" src="../../assets/gifs/clientes.gif" alt="Clientes"></a></div>
      <div><a href="../pages/contatos.html"><img class="gif3" src="../../assets/gifs/contatos.gif" alt="Contatos"></a></div>
      <div><a href="#sobre"><img class="gif4" src="../../assets/gifs/sobre.gif" alt="Sobre nós"></a></div>
    </section>
    <hr class="divisao2">
    <main>
      <div class="containerMain">
        <article class="motivacional1">
          <header class="headerMotivacional1">
            <p class="paragrafoMotivacional1"><strong>&nbsp;&nbsp;&nbsp;&nbsp;O seu jardim é um reflexo da sua personalidade e estilo de vida, e merece ser cuidado com profissionalismo e dedicação. Nós, da equipe de jardinagem profissional, não só cultivamos as plantas, mas também criamos um ambiente harmonioso e acolhedor, onde você pode desfrutar de momentos de paz e tranquilidade.</strong></p>
          </header>
        </article>

        <article class="motivacional2">
          <header class="headerMotivacional2">
            <p class="paragrafoMotivacional2"><strong>&nbsp;&nbsp;&nbsp;&nbsp;O jardim é um lembrete constante de que a beleza está em toda parte, basta saber onde procurar. Encontre a beleza na simplicidade das coisas, na natureza ao seu redor, e deixe-a inspirar sua vida. Abra seus olhos e seu coração para a beleza que está à sua volta!</strong></p>            
          </header>
        </article>

        <article class="motivacional3">
          <header class="headerMotivacional3">
            <p class="paragrafoMotivacional3"><strong>&nbsp;&nbsp;O jardim é um lugar de renovação e transformação, onde podemos nos conectar com a natureza e conosco mesmos. Encontre seu próprio jardim interior e permita-se florescer. Descubra os nossos serviços de jardinagem!</strong></p>            
          </header>
        </article>

        <article class="motivacional4">
          <header class="headerMotivacional4">
            <p class="paragrafoMotivacional4"><strong>&nbsp;&nbsp;&nbsp;&nbsp;A diversidade é o que torna o jardim tão especial, e é também o que torna cada um de nós tão único e precioso. Celebre suas diferenças e encontre a beleza na diversidade. Lembre-se de que todos somos flores diferentes no mesmo jardim, e juntos podemos construir um lindo jardim na sua casa ou empresa!</strong></p>             
          </header>
       </article>
       <hr id="sobre" class="divisao3"> <!-- hr gamer 😂 -->
       <div class="containerSobre">
        <article class="articleSobre">
          <h1 class="tituloSobre">Um pouco sobre nós!</h1>
            <div class="paragrafosSobre">
              <p>&nbsp;&nbsp;&nbsp;&nbsp;Bem-vindo ao nosso site de jardinagem profissional! Somos uma equipe de especialistas apaixonados por natureza e dedicados a transformar seu jardim em um ambiente acolhedor e harmonioso. Com anos de experiência em design e manutenção de jardins, sabemos exatamente o que é preciso para criar um espaço verde que atenda às suas necessidades e expectativas.</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nosso compromisso com a excelência nos serviços de jardinagem nos diferencia no mercado. Trabalhamos com profissionalismo e dedicação, sempre buscando a satisfação de nossos clientes. Seja para um pequeno jardim em sua casa ou para um grande projeto paisagístico em sua empresa, estamos preparados para oferecer soluções personalizadas que atendam às suas demandas e superem suas expectativas.</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Além de oferecer serviços de jardinagem de alta qualidade, também estamos comprometidos com a preservação do meio ambiente e a sustentabilidade. Utilizamos técnicas de jardinagem orgânica e produtos biodegradáveis, minimizando nosso impacto no planeta.</p>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Navegue em nosso site e descubra mais sobre nossos serviços de jardinagem profissional. Entre em contato conosco para obter uma avaliação gratuita de seu jardim e comece a transformá-lo em uma obra-prima da natureza. Estamos ansiosos para trabalhar com você!</p>
            </div>
        </article>
       </div>
       <hr class="divisao3"> <!-- outra hr gamer 😂 -->
      </div>
      <div class="containerFooter">
        <!-- height: 10rem -->
        <footer class="footerPrincipal">
          <ul class="listaLink">
            <li class="footerInicio"><a class="linkInicio" href="#inicio">Início</a></li>
            <li class="footerServicos"><a class="linkServicos" href="../pages/servicos.html">Serviços</a></li>
            <li class="footerFAQs"><a class="linkFAQs" href="../pages/FAQs.html">FAQs</a></li>
            <li class="footerSobre"><a class="linkSobre" href="#sobre">Sobre</a></li>
          </ul>
          <div class="containerEmpresa">
            <hr class="divisaoFooter">
              <p class="copyright">&copy; 2023 Foliage Haven, Inc. Todos os direitos resevados.</p>
              <ul class="luSocial">
                <!-- redes sociais -->
                <li class="liTwitter"><a class="linkTwitter" target="_blank" href="https://twitter.com/"><img class="imgTwitter" src="../../assets/images/twitter.png" alt="Twitter"></a></li>
                <li class="liInstagram"><a class="linkInstagram" target="_blank" href="https://www.instagram.com/"><img class="imgInstagram" src="../../assets/images/instagram.png" alt="Instagram"></a></li>
                <li class="liFacebook"><a class="linkFacebook" target="_blank" href="https://www.facebook.com/"><img class="imgFacebook" src="../../assets/images/facebook.png" alt="Facebook"></a></li>
              </ul>
          </div>
        </footer>
      </div>
    </main>
  </body>
</html>