* {
  color: aliceblue;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.logo {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  margin-left: 0.6rem;
  border-radius: 30%;
  width: 6.25rem;
  height: 6.25rem;
}

.containerLogo {
  display: flex;
  align-items: center;
  height: 10em;
  background-color: #404143;
}

.lista1 {
  list-style: none;
  margin-right: 1.5rem;
}

.lista2 {
    display: block;
    list-style: none;
    margin-top: -5px;
}

.anchorLogo {
  text-decoration: none;
}

body {
  background-color: #202124;
}

.bemvindo1 {
  font-size: 1.4em;
  font-family: 'Ysabeau', sans-serif;
  width: 12em;
  margin-bottom: -10px;
  cursor: pointer;
}
.bemvindo2 {
  font-size: 2em;
  font-family: 'Exo 2', sans-serif;
  width: 12em;
  cursor: pointer;
}

.containerMenu > div {
  border: 1px solid;
  border-radius: 50%;
}

.containerMenu {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 12.5rem;
}

.gif1, .gif2, .gif3, .gif4 {
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  cursor: pointer;
  transition: transform .3s;
}

.gif1:hover, .gif2:hover, .gif3:hover, .gif4:hover {
  transform: scale(1.05);
}

header div, .divisao1 {
  animation: fromTop .9s 0.4s backwards;
}

.divisao2 {
  animation: fromBottom .5s 1s backwards;
}

.containerMenu > div:nth-child(1) {
  animation: fromLeft .5s 1.5s backwards;
}

.containerMenu > div:nth-child(2) {
  animation: fromLeft .5s 1.8s backwards;
}

.containerMenu > div:nth-child(3) {
  animation: fromLeft .5s 2.1s backwards;
}

.containerMenu > div:nth-child(4) {
  animation: fromLeft .5s 2.4s backwards;
}

@keyframes fromTop {
  from {
      opacity: 0;
      transform: translateY(-30px);
  }

  to{
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes fromLeft {
  from {
      opacity: 0;
      transform: translateX(30px);
  }

  to{
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes fromRight {
  from {
      opacity: 0;
      transform: translateX(-50px);
  }

  to{
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes fromBottom {
  from {
      opacity: 0;
      transform: translateY(50px);
  }

  to{
      opacity: 1;
      transform: translateY(0);
  }
}

main {
  height: 150rem;
}

.containerMain {
  text-align: justify;
}

/* Motivacional 1 */

.motivacional1 {
  margin-top: 3rem;
}

.headerMotivacional1 {
  margin-top: 5rem;
  background-image: url(../../assets/images/jardinagem-motivacional1.jpg);
  background-repeat: no-repeat;
  width: 43.5rem;
  max-width: 100%;
  height: 20rem;
  margin: auto;
  border-radius: 1rem;
  border: 2px white solid;
  transition: transform .3s;
  animation: fromLeft .9s 2.8s backwards;
}

.paragrafoMotivacional1 {
  max-width: 30rem;
  margin: 0 auto;
  float: left;
  padding-top: 7rem;
  padding-left: 2rem;
  font-family: 'Exo 2', sans-serif;
  text-shadow: 2px 2px #000000;
  cursor: default;
}

/* Motivacional 2 */

.motivacional2 {
  margin-top: 3rem;
}

.headerMotivacional2 {
  margin-top: 5rem;
  background-image: url(../../assets/images/jardinagem-motivacional2.jpg);
  background-repeat: no-repeat;
  width: 43.5rem;
  max-width: 100%;
  height: 20rem;
  margin: auto;
  border-radius: 1rem;
  border: 2px white solid;
  transition: transform .3s;
  animation: fromRight .9s 3.2s backwards;
}

.paragrafoMotivacional2 {
  max-width: 30rem;
  margin: 0 auto;
  float: right;
  padding-top: 7rem;
  padding-right: 2rem;
  font-family: 'Exo 2', sans-serif;
  text-shadow: 2px 2px #000000;
  cursor: default;
}

/* Motivacional 3 */

.motivacional3 {
  margin-top: 3rem;
}

.headerMotivacional3 {
  margin-top: 5rem;
  background-image: url(../../assets/images/jardinagem-motivacional3.jpg);
  background-repeat: no-repeat;
  width: 43.5rem;
  max-width: 100%;
  height: 20rem;
  margin: auto;
  border-radius: 1rem;
  border: 2px white solid;
  transition: transform .3s;
  animation: fromLeft .9s 3.6s backwards;
}

.paragrafoMotivacional3 {
  max-width: 30rem;
  margin: 0 auto;
  float: left;
  padding-top: 7rem;
  padding-left: 2rem;
  font-family: 'Exo 2', sans-serif;
  text-shadow: 2px 2px #000000;
  cursor: default;
}

/* Motivacional 4 */

.motivacional4 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.headerMotivacional4 {
  margin-top: 5rem;
  background-image: url(../../assets/images/jardinagem-motivacional4.jpg);
  background-repeat: no-repeat;
  width: 43.5rem;
  max-width: 100%;
  height: 20rem;
  margin: auto;
  border-radius: 1rem;
  border: 2px white solid;
  transition: transform .3s;
  animation: fromRight .9s 4s backwards;
}

.paragrafoMotivacional4 {
  max-width: 30rem;
  margin: 0 auto;
  float: right;
  padding-top: 7rem;
  padding-right: 2rem;
  font-family: 'Exo 2', sans-serif;
  text-shadow: 2px 2px #000000;
  cursor: default;
}

.headerMotivacional1:hover, .headerMotivacional2:hover, .headerMotivacional3:hover, .headerMotivacional4:hover {
  transform: scale(1.05);
}

.divisao3 {
  height: 3px;
  border-radius: 5px;
  background: linear-gradient(to right, #ff0000, #ffaa2b, #56ff00, #00ffff, #004eff, #4b00ff, #fb00ff, #ff0000, #ffaa2b, #56ff00, #00ffff, #004eff, #4b00ff, #fb00ff, #ff0000, #ffaa2b, #56ff00, #00ffff, #004eff, #4b00ff, #fb00ff, #ff0000, #ffaa2b, #56ff00, #00ffff, #004eff, #4b00ff, #fb00ff, #ff0000, #ffaa2b, #56ff00, #00ffff, #004eff, #4b00ff, #fb00ff, #ff0000);
  background-size: 1500% auto;
  animation: glowing 30s linear infinite;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.containerSobre {
  margin-top: 5rem;
  max-width: 50rem;
  border-radius: 1rem;
  border: 2px white solid;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.articleSobre {
  padding: 2rem;
}

.tituloSobre {
  margin: auto;
  padding-bottom: 1rem;
  font-size: 2.5rem;
  font-family: 'Ysabeau', sans-serif;
  width: 22rem;
  cursor: default;
}

.paragrafosSobre {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.4rem;
}

.containerFooter {
  background-color: #404143;
}

.footerPrincipal {
  font-family: 'Exo 2', sans-serif;
  height: 13.625rem;
}

.listaLink {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
  list-style: none;
}

.linkInicio, .linkServicos, .linkFAQs, .linkSobre {
  text-decoration: none;
}

.footerInicio, .footerServicos, .footerFAQs, .footerSobre {
  padding: 1.5rem;
}

.containerEmpresa {
  width: 75%;
  margin: auto;
}

.divisaoFooter {
  opacity: 50%;
  border-radius: 2rem;
}

.copyright {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 25rem;
  display: inline-block;
}

.luSocial {
  list-style: none;
  float: right;
}

.liTwitter, .liInstagram, .liFacebook {
  display: inline-block;
  padding-top: 1.5625rem;
  padding-bottom: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.imgTwitter, .imgInstagram, .imgFacebook {
  width: 2rem;
  height: 2rem;
}