* {
  color: aliceblue;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.logo {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  margin-left: 0.6rem;
  border-radius: 30%;
  width: 6.25rem;
  height: 6.25rem;
}

.containerLogo {
  display: flex;
  align-items: center;
  height: 10em;
  background-color: #404143;
}

.lista1 {
  list-style: none;
  margin-right: 1.5rem;
}

.lista2 {
    display: block;
    list-style: none;
    margin-top: -1rem;
}

.anchorLogo {
  text-decoration: none;
}

body {
  background-color: #202124;
}

.bemvindo1 {
  text-align: center;
  font-size: 3em;
  font-family: 'Ysabeau', sans-serif;
  width: 15rem;
  margin-bottom: -10px;
  cursor: pointer;
}
.bemvindo2 {
  text-align: center;
  font-size: 2em;
  font-family: 'Exo 2', sans-serif;
  width: 15rem;
  cursor: pointer;
}

header div, .divisao1 {
  animation: fromTop .9s 0.4s backwards;
}

@keyframes fromTop {
  from {
      opacity: 0;
      transform: translateY(-30px);
  }

  to{
      opacity: 1;
      transform: translateY(0);
  }
}

/* containerGeral1 */
/* Cliente 1 */
.containerGeral1 {
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  height: 100%;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerGeral1 > .containerCliente1 {
  background-color: #404143;
  margin: 2rem;
  width: 40%;
  min-height: 55rem;
  height: 100%;
  border: 2px solid;
  border-color: aliceblue;
  border-radius: 1rem;
  animation: fromLeft .9s 1s backwards;
  transition: transform .3s;
}

.containerGeral1 > .containerCliente1:hover {
  transform: scale(1.05);
}

.containerGeral1 > .containerCliente1 > .cliente1 {
  padding: 1rem;
}

.containerGeral1 > .containerCliente1 > .cliente1 > .headerCliente1 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.8rem;
}

.containerGeral1 > .containerCliente1 > .cliente1 > .imgCliente1 {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.containerGeral1 > .containerCliente1 > .cliente1 > .paragrafoCliente1 {
  text-align: justify;
  font-size: 1.5rem;
}
/* Fim do Cliente 1 */

/* Cliente 2 */
.containerGeral1 {
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  height: 100%;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerGeral1 > .containerCliente2 {
  background-color: #404143;
  margin: 2rem;
  width: 40%;
  min-height: 55rem;
  height: 100%;
  border: 2px solid;
  border-color: aliceblue;
  border-radius: 1rem;
  animation: fromLeft .9s 1.5s backwards;
  transition: transform .3s;
}

.containerGeral1 > .containerCliente2:hover {
  transform: scale(1.05);
}

.containerGeral1 > .containerCliente2 > .cliente2 {
  padding: 1rem;
}

.containerGeral1 > .containerCliente2 > .cliente2 > .headerCliente2 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.8rem;
}

.containerGeral1 > .containerCliente2 > .cliente2 > .imgCliente2 {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.containerGeral1 > .containerCliente2 > .cliente2 > .paragrafoCliente2 {
  text-align: justify;
  font-size: 1.5rem;
}
/* Fim do Cliente 2 */
/* Fim do containerGeral1 */

/* containerGeral2 */
/* Cliente 3 */
.containerGeral2 {
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  height: 100%;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerGeral2 > .containerCliente3 {
  background-color: #404143;
  margin: 2rem;
  width: 40%;
  min-height: 55rem;
  height: 100%;
  border: 2px solid;
  border-color: aliceblue;
  border-radius: 1rem;
  animation: fromLeft .9s 2s backwards;
  transition: transform .3s;
}

.containerGeral2 > .containerCliente3:hover {
  transform: scale(1.05);
}

.containerGeral2 > .containerCliente3 > .cliente3 {
  padding: 1rem;
}

.containerGeral2 > .containerCliente3 > .cliente3 > .headerCliente3 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.8rem;
}

.containerGeral2 > .containerCliente3 > .cliente3 > .imgCliente3 {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.containerGeral2 > .containerCliente3 > .cliente3 > .paragrafoCliente3 {
  text-align: justify;
  font-size: 1.5rem;
}
/* Fim do Cliente 3 */

/* Cliente 4 */
.containerGeral2 {
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  height: 100%;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerGeral2 > .containerCliente4 {
  background-color: #404143;
  margin: 2rem;
  width: 40%;
  min-height: 55rem;
  height: 100%;
  border: 2px solid;
  border-color: aliceblue;
  border-radius: 1rem;
  animation: fromLeft .9s 2.5s backwards;
  transition: transform .3s;
}

.containerGeral2 > .containerCliente4:hover {
  transform: scale(1.05);
}

.containerGeral2 > .containerCliente4 > .cliente4 {
  padding: 1rem;
}

.containerGeral2 > .containerCliente4 > .cliente4 > .headerCliente4 {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.8rem;
}

.containerGeral2 > .containerCliente4 > .cliente4 > .imgCliente4 {
  width: 100%;
  height: auto;
  border-radius: 2rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.containerGeral2 > .containerCliente4 > .cliente4 > .paragrafoCliente4 {
  text-align: justify;
  font-size: 1.5rem;
}
/* Fim do Cliente 4 */

/* Ajuste nas imagens */
.imgCliente1, .imgCliente2, .imgCliente3, .imgCliente4 {
  width: 100%;
  aspect-ratio: 3/2;
}

@keyframes fromLeft {
  from {
      opacity: 0;
      transform: translateX(-30px);
  }

  to{
      opacity: 1;
      transform: translateX(0);
  }
}

.divisao2 {
  margin-top: 4rem;
}

.containerFooter {
  background-color: #404143;
}

.footerPrincipal {
  font-family: 'Exo 2', sans-serif;
  height: 13.625rem;
}

.listaLink {
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
  list-style: none;
}

.linkInicio, .linkServicos, .linkFAQs, .linkSobre {
  text-decoration: none;
}

.footerInicio, .footerServicos, .footerFAQs, .footerSobre {
  padding: 1.5rem;
}

.containerEmpresa {
  width: 75%;
  margin: auto;
}

.divisaoFooter {
  opacity: 50%;
  border-radius: 2rem;
}

.copyright {
  padding-top: 2rem;
  padding-bottom: 2rem;
  max-width: 25rem;
  display: inline-block;
}

.luSocial {
  list-style: none;
  float: right;
}

.liTwitter, .liInstagram, .liFacebook {
  display: inline-block;
  padding-top: 1.5625rem;
  padding-bottom: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.imgTwitter, .imgInstagram, .imgFacebook {
  width: 2rem;
  height: 2rem;
}