* {
  color: aliceblue;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.logo {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  margin-left: 0.6rem;
  border-radius: 30%;
  width: 6.25rem;
  height: 6.25rem;
}

.containerLogo {
  display: flex;
  align-items: center;
  height: 10em;
  background-color: #404143;
}

.lista1 {
  list-style: none;
  margin-right: 1.5rem;
}

.lista2 {
    display: block;
    list-style: none;
    margin-top: -1rem;
}

.anchorLogo {
  text-decoration: none;
}

body {
  background-color: #202124;
}

.bemvindo1 {
  text-align: center;
  font-size: 3em;
  font-family: 'Ysabeau', sans-serif;
  width: 15rem;
  margin-bottom: -10px;
  cursor: pointer;
}
.bemvindo2 {
  text-align: center;
  font-size: 2em;
  font-family: 'Exo 2', sans-serif;
  width: 15rem;
  cursor: pointer;
}

header div, .divisao1 {
  animation: fromTop .9s 0.4s backwards;
}

@keyframes fromTop {
  from {
      opacity: 0;
      transform: translateY(-30px);
  }

  to{
      opacity: 1;
      transform: translateY(0);
  }
}

.naoDeu {
  padding-top: 1rem;
  font-family: 'Exo 2', sans-serif;
  font-size: 1.4rem;
  text-align: center;
}